<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Community" dependencies="Feature.*" description="Project Data" extends="Foundation.Base.Templates">
                    <!--<predicate>
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/media library/$(layer)/$(module)" />
                    </predicate>-->
                </configuration>


                <configuration name="Dev.Data" dependencies="Project.*" description="Content Sharing for Developers" extends="Foundation.Base">
                    <predicate>
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/content/Community" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>