<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <!-- register new events with handlers -->
        <events>
            <!-- New local event to submit the event on the CM. -->
            <!-- For the hackathon, we process this event, as we are a stand-alone install. -->
            <event name="module:submit">
                <handler type="xTeam.Feature.Modules.ModuleActions.Events.RemoteSubmitModuleEventHandler, xTeam.Feature.Modules" method="BuildModuleItem" />
            </event>
            <!-- New remote event to clear CD caches -->
            <event name="module:submit:remote">
                <handler type="xTeam.Feature.Modules.ModuleActions.Events.RemoteSubmitModuleEventHandler, xTeam.Feature.Modules" method="BuildModuleItem" />
            </event>
        </events>

        <!-- initialize remote machines to listen for new custom remote event -->
        <pipelines>
            <initialize>
                <processor type="xTeam.Feature.Modules.ModuleActions.Pipelines.Initialize.RemoteSubmitModuleEventHandler, xTeam.Feature.Modules" method="Initialize" />
            </initialize>
        </pipelines>
    </sitecore>
</configuration>

