<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- API only allow one request per minute -->
            <setting name="GitHub.Anonymous.Sleep.InSeconds" value="61"/>
        </settings>
    </sitecore>
</configuration>