<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <sc.variable name="sourceFolder" value="C:\code\2020-XTeam\src" />
        <!-- 
        <sc.variable env:require="Local" name="sourceFolder" value="C:\code\2020-XTeam\src" />
        <sc.variable env:require="!Local" name="sourceFolder" value="$(dataFolder)\unicorn" />
        -->
    </sitecore>
</configuration>
