<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Community" dependencies="Feature.*" description="Project Data" extends="Foundation.Base.Templates">
                    <predicate>
                        <include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
                        <include name="$(layer).$(module).Theme" database="master" path="/sitecore/media library/Themes/$(module)" />
                        
                        <!-- TODO: comment out... but for now share content with devevlopers -->
                        <include name="$(layer).$(module).Content" database="master" path="/sitecore/content/Community" />                        
                    </predicate>
                </configuration>


            </configurations>
        </unicorn>
    </sitecore>
</configuration>